@import '../media';

.section-subtitle {
  color: rgba(11, 61, 145, 0.60);
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}

@include tablet {
  .section-subtitle {
    font-size: 22px;
  }
}