.section-subtitle {
  color: rgba(11, 61, 145, 0.60);
  text-align: center;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 200% */
  margin-bottom: 20px;
}