.section-title {
  color: var(--dark-blue);
  text-align: center;
  text-shadow: 0 4px 4px rgba(19, 129, 237, 0.20);
  font-family: Manrope;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.88px;
  margin: 0 0 25px;
}