@import '../media.scss';

.about-us {
  padding-block: var(--section-py);

  &__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0;
    padding: 0;
  }

  &__card {
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 15px;
    border-radius: 15px;
    background: var(--background-gradient);

    .card-icon {
      width: 45px;
      height: 45px;
      flex-shrink: 0;
    }

    .card-info {
      display: flex;
      flex-direction: column;

      &__title,
      &__text {
        color: var(--white);
        font-style: normal;
      }

      &__title {
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -0.64px;
      }

      &__text {
        font-size: 19px;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: -0.38px;
      }
    }
  }
}

@include tablet {
  .about-us {
    &__cards {
      gap: 18px;
    }

    &__card {
      max-width: 345px;
    }
  }
}