@import '../media.scss';

.header {
  position: sticky;
  top: 0;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  background: var(--white);
  transition: box-shadow 160ms ease;
  padding: 20px;


  &--scrolled {
    box-shadow: 0 4px 18px rgba(11, 61, 145, 0.08);
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-4);
  }

  &__nav {
    display: none;
  }

  &__actions {
    display: none;
  }

  &__toggle {
    appearance: none;
    background: transparent;
    padding: 0;
    border: 0;
    display: grid;
    place-items: center;
    z-index: 1;

    &:focus-visible {
      outline: 2px solid transparent;
      box-shadow: 0 0 0 3px rgba(19, 129, 237, 0.35);
    }
  }

  &__action-icon {
    &--close {
      width: 32px;
      height: 32px;
    }

    &--menu {
      width: 32px;
      height: 32px;
    }
  }

  &__icon {
    width: 32px;
    height: 32px;
    fill: var(--dark-blue);
    z-index: 2;
    cursor: pointer;
  }

  &__panel {
    position: fixed;
    inset: 0;
    background: var(--white);
    display: none;
    padding: var(--space-8) var(--container-pad);
  }

  &--open .header__panel {
    display: block;
  }

  &__panel-inner {
    display: grid;
    gap: var(--space-6);
    height: 100%;
    grid-template-rows: auto 1fr auto;
  }

  &__menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: var(--space-4);
  }

  &__link {
    font-weight: 600;
    color: var(--dark-blue);
  }


}


#mobile-menu {
  &.header__panel {
    right: 0;
    left: 50%;
    background: var(--dark-blue);
    height: 100vh;
    width: 50%;

    .header__link {
      color: var(--white);
    }
  }

}

@include tablet {
  .header__action-icon {
    &--menu {
      width: 40px;
      height: 28px;
    }

    &--close {
      width: 40px;
      height: 40px;
    }
  }

  #mobile-menu {

  }
}

@include desktop {
  #mobile-menu.header__panel {
    left: 100%;
  }

  .header {
    &__toggle {
      display: none;
    }

    &__nav {
      display: block;
    }

    &__menu {
      display: flex;
      gap: var(--space-6);
    }

    &__link {
      font-size: 20px;
      color: var(--dark-blue);
      font-style: normal;
      font-weight: 600;
      line-height: 18px;
    }

    &__actions {
      display: block;

      &-button {
        border: none;
        border-radius: 12px;
        display: flex;
        padding: 16px 64px;
        justify-content: center;
        align-items: center;
        background: var(--background);
        color: var(--white);
        font-size: 20px;
        font-weight: 600;
        line-height: 18px;
      }
    }
  }

}
