@import '../media.scss';

.hero {
  padding: 26px 20px 0;
  background: var(--background);
  border-radius: 16px;
  height: 687px;
  background-image: url('/images/hero-mob.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__title {
    color: var(--white);
    font-size: 26px;
    font-weight: 700;
    line-height: 50px;
    margin: 0 0 39px;
  }

  &__subtitle {
    display: none;
    color: var(--white);
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-7);
  }
}

@include tablet {
  .hero {
    padding: 84px 40px 0;
    background-image: url('/images/hero-tab.png');

    &__card {
      height: 100%;
    }

    &__content {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    &__title {
      font-size: 54px;
      margin-bottom: 65px;
    }

    &__subtitle {
      display: block;
    }

    &__actions {
      align-items: flex-start;
      justify-content: center;
      flex: 1;
      gap: 45px;
    }
  }
}

//
//@include desktop {
//  .hero {
//    padding: 92px 58px 0;
//    background-image: url('/images/hero-desk.png');
//    background-size: contain;
//
//    &__title {
//      font-size: 60px;
//      max-width: 673px;
//    }
//
//    &__subtitle {
//      font-size: 24px;
//      max-width: 468px;
//    }
//
//    &__actions {
//      flex-direction: row;
//    }
//  }
//
//}