@import '../media.scss';

.hero {
  padding: 26px 20px 0 20px;
  background: var(--background);
  border-radius: 16px;
  height: 687px;
  background-image: url('/images/hero-mob.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__title {
    color: #FFF;
    font-size: 26px;
    font-weight: 700;
    line-height: 50px;
    margin: 0 0 39px;
  }

  &__subtitle {
    display: none;
    color: var(--white);
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
  }

  &__actions {
    display: flex;
    gap: var(--space-7);
    flex-direction: column;
    align-items: center;
  }
}

.btn {
  display: flex;
  width: 238px;
  height: 56px;
  padding: 16px 0;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;

  &--primary {
    background: var(--white);
    color: var(--dark-blue);
  }

  &--secondary {
    color: var(--white);
    background: var(--blue);
  }
}


@include tablet {
  .hero {
    padding: 84px 40px 0;
    background-image: url('/images/hero-tab.png');


    &__title {
      font-size: 54px;
    }

    &__subtitle {
      display: block;
      font-size: 24px;
    }
    &__actions {
      align-items: flex-start;
    }
  }

}

@include desktop {
  .hero {
    padding: 92px 58px 0;
    background-image: url('/images/hero-desk.png');
    background-size: contain;
    &__title {
      font-size: 60px;
      max-width: 673px;
    }
    &__subtitle {
      font-size: 24px;
      max-width: 468px;
    }
    &__actions {
      flex-direction: row;
    }
  }

}