@import '../media.scss';

.logo {
  font-weight: 800;
  font-size: 20px;
  color: var(--blue);

  span.dark {
    color: var(--dark-blue);
  }
  span.light {
    color: white;
  }
}

@include tablet {
  .logo {
    font-size: 24px;
  }
}