@import '../media.scss';

.products {
  padding-block: var(--section-py);

  &__grid {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 10px;
    border-radius: 30px;
    color: var(--dark-blue);

    .products__title {
      margin: 0 0 25px;
      text-align: center;
      font-family: Manrope;
      font-size: 32px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: -0.64px;
    }

    .products__list {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .products__item {
      display: flex;
      gap: 16px;

      .card-icon {
        width: 45px;
        height: 45px;
        flex-shrink: 0;
      }

      .card-info {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &__title,
        &__text {
          font-family: Manrope;
          font-style: normal;
          color: inherit;
        }

        &__title {
          font-size: 18px;
          font-weight: 700;
          line-height: 18px;
        }

        &__text {
          font-size: 14px;
          font-weight: 500;
          line-height: 18px;
        }
      }
    }

    &--investors {
      border: 1px solid var(--dark-blue);
      background: transparent;
    }

    &--startups {
      background: linear-gradient(180deg, #0B3D91 0%, #0E55B1 93%);
      color: #FFF;
    }
  }
}

@include tablet {
  .products {
    //padding-block: var(--section-py);

    &__grid {
      gap: 60px;
    }

    &__card {
      gap: 40px;
      padding: 35px 30px;

      .products__title {
        margin: 0 0 40px;
        font-size: 48px;
        letter-spacing: -0.96px;
      }

      .products__list {
        gap: 20px;
      }

      .products__item {
        gap: 17px;

        .card-icon, .card-icon svg{
          width: 65px !important;
          height: 65px !important;
        }

        .card-info {
          &__title {
            font-size: 28px;
            line-height: 28px;
          }

          &__text {
            font-size: 28px;
            line-height: 28px;
          }
        }
      }
    }
  }
}