.products {
  padding-block: var(--section-py);

  .products__grid {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .products__card {
    border-radius: 30px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .products__title {
      margin: 0;
      color: var(--dark-blue);
      text-align: center;
      font-family: Manrope;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px; /* 75% */
      letter-spacing: -0.64px;
      margin-bottom: 25px;
    }

    .products__list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .products__item {
      display: flex;
      gap: 16px;

      .card {
        &-icon {
          width: 45px;
          height: 45px;
        }

        &-info {
          display: flex;
          flex-direction: column;
          gap: 10px;

          &__title {
            color: var(--dark-blue, #0B3D91);
            font-family: Manrope;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 18px; /* 90% */
          }

          &__text {
            color: var(--dark-blue, #0B3D91);
            font-family: Manrope;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 18px;
          }
        }
      }
    }
  }

  .products__card--investors.products__card {
    border: 1px solid var(--dark-blue);

    .products__title {
      color: var(--dark-blue);
    }

    .products__item {
      .card {
        &-info {
          &__title {
            color: var(--dark-blue);
          }

          &__text {
            color: var(--dark-blue);

          }
        }
      }
    }
  }

  .products__card--startups.products__card {
    background: linear-gradient(180deg, #0B3D91 0%, #0E55B1 93%);

    .products__title {
      color: #FFF;
    }

    .products__item {
      .card {
        &-info {
          &__title {
            color: #FFF;
          }

          &__text {
            color: #FFF;
          }
        }
      }
    }
  }
}
