@import '../media.scss';

.social {
  --social-bg: transparent;
  --btn-bg: transparent;
  --btn-border: rgba(255, 255, 255, 0.10);
  --icon: #ffffff;
  --btn-radius: 10px;
  --btn-gap: 12px;
  --btn-size: 36px;
  --icon-size: 20px;

  display: flex;
  gap: var(--btn-gap);

  &__btn {
    width: 36px;
    height: 36px;
    padding: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.10);
  }

  &__icon {
    width: var(--icon-size);
    height: var(--icon-size);
    color: var(--icon);
    display: inline-flex;

    svg {
      width: 100%;
      height: 100%;
      fill: currentColor;
    }
  }
}
