@import './media.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: var(--font-sans);
}

body {
  margin: 0;
  color: var(--text);
  background: var(--white);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: var(--font-sans);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.main-container {
  width: 100%;
  max-width: 100%;
  margin-inline: auto;
  padding-inline: 20px;
}

.inner-wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@media (min-width: $bp-tablet) {
  .main-container {
    max-width: $bp-tablet;
    padding-inline: 32px;
  }
  .inner-wrapper {
    gap: 66px;
  }
}

@media (min-width: $bp-desktop) {
  .main-container {
    max-width: $bp-desktop;
    padding-inline: 62px;
  }

  .inner-wrapper {
    gap: 94px;
  }
}