$bp-mobile: 375px;
$bp-tablet: 768px;
$bp-desktop: 1280px;

@mixin tablet {
  @media (min-width: #{$bp-tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$bp-desktop}) {
    @content;
  }
}

