:root {
  --font-sans: "Manrope", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";

  --dark-blue: #0B3D91;
  --background-gradient: linear-gradient(180deg, #0B3D91 0%, #1575D3 100%);
  --blue: #1381ED;
  --white: #FFF;

  --radius-md: 12px;

  --text: var(--dark-blue);

  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-7: 30px;
  --space-8: 32px;
  --space-10: 40px;
  --space-12: 48px;

  --fs-sm: 0.875rem;
  --fs-md: 1rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.5rem;

  --container-max: 1200px;
  --container-pad: 20px 10px 60px;
  --section-py: 48px;
}

@media (min-width: 768px) {
  :root {
    --container-pad: 32px;
    --section-py: 80px;
    --fs-xl: 1.75rem;
  }
}

@media (min-width: 1280px) {
  :root {
    --fs-xl: 2rem;
  }
}
